.sender-column{
    text-align: right;
}
body{
    max-width: 850px;
    margin: 0 auto;
    

}
.letter-date{
    text-align: right;
}
h1{
    font-size: 1.5em;
}

p,ol,ul,dl,address{
    font-size: 1.1em;
}
p,address,li,dd,dt{
    line-height: 1.5;
}
